
.popupContainer{
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    gap: 10px;
    position: relative;
    
}

/* Header stylings*/

.popupHeader {
    height: 100%;
    width: 100%;
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.popupTitle {
    height: 100%;
    flex-basis: 75%;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    flex-basis: 10%
}

.githubButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    flex-basis: 10%
}

button {
    padding: 5px;
    border-radius: 10px;
    font-size: 1.05rem;
    font-weight: 600;
}

/*Content stylings*/

.popupContent {
    grid-column: 1 / span 3;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;    
}

/*Pop up welcome screen */
.popupWelcomeScreen {
    grid-column: 1 / span 3;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;    
    justify-items: center;

}

.popupWelcomeTitle {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.popupWelcomeTextContainer {
    grid-column: 1 / span 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}

.welcomeIntro {
    margin: 10px auto;
    text-align: center;
}

.welcomeIntro + p {
    text-align: center;
}

.popupWelcomeScreen > button {

    grid-column: 2;
    grid-row: 3;

}

/*Pop up current project screen*/
.popupCurrentProjectScreen{
    grid-column: 1 / span 3;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr 4fr;

}

.currentProjectTitle {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.currentProjectForm {
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    flex-direction: column;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(4, 1fr);

}

/* Manage all projects*/
.popupManageScreenContainer {
    grid-column: 1 / span 3;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;    
    justify-items: center;

}

.popupManageScreenContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px); 
    justify-content: space-around;
    padding: 0 10px;
    
}

.popupManageScreenButton {
    grid-column: 1 / span 3;
    grid-row: 5;
    position: absolute;
    display: grid; 
    justify-content: space-around;
    padding: 0 10px;
    bottom: 15px
}

.popupFooter {
    grid-column: 1 / span 3;
    grid-row: 4;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.scrollContainer {

    grid-column: 1 / span 3;
    grid-row: 2 / 5;
    overflow-y: auto;
    width: 100%;
    height: 100%

}
